<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure Voice Assistant</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="pageTitle"><a href="#0">Azure Voice Assistant</a></h1>
    <div class="backgroundContainer">
    <div class="formContainer">
        <form id="voiceForm" action="/choosingVoice" method="POST">
            <label for="voiceChoice">Choose the voice: </label>
            <select id="voiceChoice" name="voiceChoice">
                <option value="plf">polski: Zofia</option>
                <option value="plm">polski: Marek</option>
                <option value="enf">english(US): Jenny</option>
                <option value="enm">english(US): Andrew</option>
                <option value="engf">english(GB): Abbi</option>
                <option value="engm">english(GB): Ryan</option>
                <option value="frf">français(FR): Denise</option>
                <option value="frm">français(FR): Henri</option>
                <option value="frcf">français(CA): Sylvie</option>
                <option value="frcm">français(CA): Antoine</option>
            </select>
            <input id="submitVoiceChoice" type="submit" value="Save">
        </form><br>
        <form id="historyAndButtonContainer" style="display: none">
            <input type="hidden" name="history" id="historyInput" value='{{ history_json|safe }}'>
            <button type="button" id="recordBtn">Record</button>
            <button type="button" id="sendBtn" disabled>Send to Azure</button>
            <button type="button" id="clearBtn">Clear history</button>
        </form>
        <div id="voiceInformation"></div>
        <div id="messengerWrap">
            <div id="status"></div>
            <div id="history"></div>
            <div id="result"></div>
        </div>
    </div>
    <script>
        window.onload = () => {
            document.getElementById('historyInput').value = '[]';
        };
        let mediaRecorder;
        let audioChunks = [];
        let audioBlob = null;
        let audioHistory = [];
        let audioIndex;
        let current_voice_key = ''
        let currentLang = ''
        const recordBtn = document.getElementById('recordBtn');
        const sendBtn = document.getElementById('sendBtn');
        const status = document.getElementById('status');
        const clearBtn = document.getElementById('clearBtn');
        const voiceForm = document.getElementById('voiceForm');
        const historyAndButtonContainer = document.getElementById('historyAndButtonContainer');
        const voiceInformation = document.getElementById('voiceInformation');

        const translations = {
            pl: {
                recording: "Nagrywanie...",
                ready: "Nagranie gotowe",
                sending: "Wysyłanie do Azure...",
                done: "Gotowe!",
                user: "Ty:",
                chatTitle: "Rozmowa:",
                speechError: "Błąd generowania mowy",
                techError: "Błąd",
                microphoneAccess: "Błąd dostępu do mikrofonu",
                audioError: "Błąd generowania audio",
                commError: "Błąd komunikacji"
            },
            en: {
                recording: "Recording...",
                ready: "Recording ready",
                sending: "Sending to Azure...",
                done: "Done!",
                user: "You:",
                chatTitle: "Conversation:",
                speechError: "Speech synthesis failed",
                techError: "Error",
                microphoneAccess: "Microphone access error",
                audioError: "Audio generation error",
                commError: "Communication error"
            },
            fr: {
                recording: "Enregistrement...",
                ready: "Enregistrement terminé",
                sending: "Envoi à Azure...",
                done: "Terminé !",
                user: "Toi :",
                chatTitle: "Conversation :",
                speechError: "Erreur de génération vocale",
                techError: "Erreur",
                microphoneAccess: "Erreur d'accès au micro",
                audioError: "Erreur de génération audio",
                commError: "Erreur de communication"
            }
        };



       voiceForm.addEventListener('submit', async (e)=> {
            e.preventDefault()
            historyAndButtonContainer.style.display="flex";
            voiceForm.style.display="none";
            const formVoice = new FormData(e.target);
            try {
                const response = await fetch('/choosingVoice', {
                    method: 'POST',
                    body: formVoice
                });
            if (response.ok) {
                const voiceData = await response.json();
                current_voice_key = voiceData.current_voice_key
                currentLang = current_voice_key.slice(0, 2);
                voiceInformation.innerHTML = `
                    <h3>SELECTED VOICE: ${voiceData.current_voice_name}</h3>
                    `;
                } else {
                    voiceInformation.innerHTML = translations[currentLang]?.speechError;
                }
            } catch (error) {
              const prefix = translations[currentLang]["techError"];
              voiceInformation.innerHTML = `${prefix}: ${error.message}`;
            }
        });

        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = (e) => {
                    audioChunks.push(e.data);
                };

                mediaRecorder.onstop = () => {
                    audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
                    audioChunks = [];
                    sendBtn.disabled = false;
                    status.textContent = translations[currentLang]["ready"]
                };
            })
            .catch(err => {
                status.textContent = `${translations[currentLang]["microphoneAccess"]}: ${err}`;
            });

        recordBtn.addEventListener('click', () => {
            if (mediaRecorder.state === 'recording') {
                mediaRecorder.stop();
                recordBtn.textContent = 'Record';
            } else {
                audioChunks = [];
                audioBlob = null;
                sendBtn.disabled = true;
                mediaRecorder.start();
                recordBtn.textContent = 'Stop';
                status.textContent = translations[currentLang]["recording"];
                result.textContent = '';
            }
        });
        sendBtn.addEventListener('click', async () => {
            if (!audioBlob) return;
            status.textContent = translations[currentLang]["sending"];
            sendBtn.disabled = true;
            const formData = new FormData(document.getElementById('historyAndButtonContainer'));
            formData.append('audio', audioBlob, 'audio.webm');
            try {
                const response = await fetch('/recognize', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();

                if (data.success) {
                    const audioFormData = new FormData();
                    audioFormData.append('text', data.chat_response);
                    const audioResponse = await fetch('/synthesize', {
                        method: 'POST',
                        body: audioFormData
                    });
                    if (audioResponse.ok) {
                        const audioBlob = await audioResponse.blob();
                        const audioUrl = URL.createObjectURL(audioBlob);
                        audioHistory.push(audioUrl)
                        document.getElementById('historyInput').value = data.history_json;
                        document.getElementById('history').style.display = 'flex';
                        const historyArray = JSON.parse(data.history_json);
                        let html = `<h3>${translations[currentLang]["chatTitle"]}</h3>`;
                        audioIndex = 0;
                        historyArray.forEach(msg => {
                            const who = msg.role === 'user' ? translations[currentLang]["user"] : 'ChatGPT:';
                            html += `<div><p><strong>${who}</strong> ${msg.content}</p>`;
                            if (msg.role == 'assistant' && audioHistory[audioIndex]) {
                                const shouldAutoPlay = audioIndex === audioHistory.length - 1;
                                html += `<audio controls ${shouldAutoPlay ? 'autoPlay' : ''}><source src="${audioHistory[audioIndex]}" type="audio/wav"></audio>`;
                                audioIndex++;
                            }
                            html += `</div>`;
                        });
                        document.getElementById('history').innerHTML = html;
                        status.textContent = translations[currentLang]["done"];
                    } else {
                        status.textContent = translations[currentLang]["audioError"];
                    }
                } else {
                    status.innerHTML = `<span style="color:red">${translations[currentLang]["techError"]}: ${data.error}</span>`;
                }
            } catch (error) {
                status.textContent = `${translations[currentLang]["commError"]}: ${error.message}`;
            } finally {
                sendBtn.disabled = false;
            }
        });

        clearBtn.addEventListener('click', async () => {
            document.getElementById('historyInput').value = '[]';
            document.getElementById('history').innerHTML = '';
            audioHistory = [];
            audioIndex = 0;
            voiceForm.style.display="flex";
            historyAndButtonContainer.style.display="none";
            status.textContent = '';
            voiceChoice.value = 'plf';
            document.getElementById('history').style.display = 'none';
            voiceInformation.textContent = '';
        });
    </script>
    </div>
</body>
</html>


